* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .9);
}

.container {
  max-width: 450px;
  padding: 15px;
  background-color: black;
  border-radius: 20px;
  border: 2px solid white;
  display: flex;
  text-align: center;
}

.calculator {
  margin-top: 30px;
}

.value input {
  max-width: 400px;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 80px;
  text-align: right;
  color: white;
  background-color: black;
  margin-bottom: 50px;
}

span {
  display: inline-block;
  text-align: center;
  padding-top: 3px;
  font-size: 50px;
  color: white;
  cursor: pointer;
  border: 2px solid;
  border-radius: 20px;
  width: 70px;
  height: 70px;
  margin: 10px;
  transition: .3s;
}

span.c {
  width: 255px;
}

span.sum {
  width: 160px;
}

span:hover {
  color: black;
  background-color: white;
  transition: .3s;
  box-shadow: 0px 0px 3px 3px white;
}